.home-dark-section-wrapper {
  overflow: hidden;
}

.home-dark-section__border {
  border-style: solid;
  border-width: 6vw 100vw 0 0;
  border-color: transparent var(--color-dark-gray) transparent transparent;
  margin-top: var(--space-fluid-5-9);
}

.home-dark-section {
  background: var(--color-darker-gray);
  color: var(--color-white);
  padding: var(--space-fluid-4-5) 0;
}

.home-section {
  &__container {
    margin-top: var(--space-fixed-8);
    margin-bottom: var(--space-fixed-8);
  }

  &__content {
    @include breakpoint-up(sm) {
      order: -1;
    }

    &--reverse {
      @include breakpoint-up(sm) {
        order: 1;
      }
    }
  }

  &__title {
    margin-bottom: var(--space-fixed-5);
    font-size: var(--font-size-3xl);
    text-shadow: rgba(255, 255, 255, 0.18) 2px 1px 18px;
  }

  &__hook {
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-fixed-4);
  }

  &__text {
    margin-bottom: var(--space-fixed-5);

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__button {
    margin: var(--space-fixed-5) 0;
  }

  &__image-wrapper {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
