.grid {
  @include breakpoint-up(md) {
    display: grid;
    grid-gap: var(--space-5);

    &.cols-1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.grid--reverse {
      > *:first-child {
        order: 1;
      }
    }
  }
}
