{{ define "main" }}

  {{ with .Params.hero }}
    {{ partial "homepage/hero" . }}
  {{ end }}

  {{ with .Params.developers }}
    {{ partial "homepage/developers" . }}
  {{ end }}

  {{ with .Params.templateBanner }}
    {{ partial "homepage/template-banner" . }}
  {{ end }}

  {{ with .Params.editors }}
    {{ partial "homepage/editors" . }}
  {{ end }}

  {{ with .Params.services }}
    {{ partial "homepage/services" . }}
  {{ end }}

  {{ with .Params.blog }}
    {{ partial "homepage/blog" . }}
  {{ end }}

  {{ with .Params.community }}
    {{ partial "homepage/community" . }}
  {{ end }}

{{ end }}