<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}</title>
  <meta name="description" content="{{ .Description | default site.Params.description }}">
  <link rel="icon" href="{{ "img/favicon/favicon-32x32.png" | relURL }}">
  <link rel="canonical" href="{{ .Params.canonical_url | default .Permalink }}">

  {{ with .Params.author }}
    <meta name="author" content="{{ . }}">
  {{ end }}

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Title | default site.Title }}">
  <meta property="og:description" content="{{ .Description | default site.Params.description }}">
  <meta property="og:image" content="{{ (.Params.image | default "img/og-image.jpg") | absURL }}">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WQFP7W4H');</script>
  <!-- End Google Tag Manager -->

  {{ partial "base/styles" . }}
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQFP7W4H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partial "header" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer" . }}

  {{ partial "base/scripts" . }}
  
  {{ block "scripts" . }}{{ end }}
</body>

</html>
