{{ define "main" }}
<section class="page">
  <div class="container">
    {{ partial "page-hero" . }}

    {{ range .Params.sections }}
    <div class="community-section">
      <h2 class="section-title">{{ .title | markdownify }}</h2>
      <div class="community-channels grid cols-3">
        {{ range .channels }}
        <div class="community-channel">
          <h3 class="channel-title">{{ .title }}</h3>
          <p class="channel-description">{{ .description }}</p>
          <a href="{{ .link.href }}" class="channel-link">{{ .link.text }}</a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
