.button {
  display: inline-block;
  font-size: var(--font-size-md);
  line-height: var(--line-height-mid);
  background-color: var(--color-white);
  color: var(--color-gray);
  border: 2px solid var(--color-lightish-gray);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-secondary);
  border-radius: var(--radius-lg);
  padding: var(--space-fluid-2-4) var(--space-fluid-4-5);
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;

  @include breakpoint-up(sm) {
    font-weight: var(--font-weight-semibold);
  }

  &:hover,
  &:active {
    text-decoration: none;
    background-color: var(--color-dark-gray);
    border-color: var(--color-dark-gray);
    color: var(--color-white);
  }

  &.primary {
    background-color: var(--color-primary-light);
    color: var(--color-white);
    border-color: var(--color-primary-light);

    &:hover,
    &:active {
      background-color: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
    }
  }

  &.secondary,
  &--secondary {
    background-color: var(--color-white);
    color: var(--color-accent-pink);
    border-color: var(--color-white);

    &:hover,
    &:active {
      background-color: var(--color-white);
      color: var(--color-accent-pink);
      border-color: var(--color-pink);
    }
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.outline {
    background: none;
    color: var(--color-gray);
    border-color: var(--color-gray);
  }

  &.active {
    color: var(--color-white);
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-fixed-2);
  }
}
