.hero-title {
  font-size: var(--font-size-2xl);
  margin-bottom: var(--space-fluid-4-5);
  letter-spacing: -0.92px;

  @include breakpoint-up(xs) {
    font-size: var(--font-size-3xl);
  }

  @include breakpoint-up(md) {
    font-size: var(--font-size-4xl);
  }
}
