.version-tag {
  &:before {
    content: 'Since v';
  }
  
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  background: var(--color-white);
  padding: 0.125em 0.5em 0.08em;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  margin: 0 0.5em;
  vertical-align: middle;
}
