.widgets-nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-fixed-2);
  margin: var(--space-fluid-5-7) 0 var(--space-fixed-5);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  .button {
    padding: var(--space-fixed-2) var(--space-fixed-4) !important;

    &.active {
      background-color: var(--color-primary);
      color: var(--color-white);
      border-color: var(--color-primary);
    }
  }
}

.widgets-content {
  margin-top: var(--space-fixed-5);
  
  h3 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-fixed-4);
    color: var(--color-text-dark);
  }

  .markdown {
    margin-top: var(--space-fixed-4);
  }
}
