.button {
  white-space: nowrap;
  display: inline-block;
  font-size: var(--font-size-md);
  line-height: 1;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-secondary);
  border-radius: var(--radius-lg);
  padding: 12px var(--space-3);
  transition: all 0.2s ease-out;
  box-shadow: 0;
  cursor: pointer;
  text-decoration: none;

  @include breakpoint-up(xs) {
    border-width: 3px;
    padding: var(--space-3) var(--space-4);
    font-weight: var(--font-weight-semibold);
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: var(--color-white);
  }

  &.secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
    border-color: currentColor;

    &:active {
      color: var(--color-primary-dark);
    }
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.outline {
    background: none;
    color: var(--color-primary);
  }

  &.active {
    color: var(--color-white);
    background: var(--color-primary);
    border-color: var(--color-primary);
  }
}
