.page-hero {
  color: var(--color-gray);
  position: relative;
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);

  @include breakpoint-up(lg) {
    padding-top: var(--space-6);
    padding-bottom: var(--space-8);
  }
}
