{{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "name": {{ .Title }},
  "articleBody": {{ .Content | jsonify }},
  {{ with .Description }}"description": {{ . }},{{ end }}
  {{ with .Params.author }}"author": {{ . }},{{ end }}
  {{ with .Params.image.src }}"image": {{ . }},{{ end }}
  {{ with .Params.keywords }}"keywords": {{ delimit . ", " }},{{ end }}
  "datePublished": {{ .Date.Format $ISO8601 }},
  "dateModified" : {{ (.Lastmod.Format $ISO8601) | default (.Date.Format $ISO8601) }},
  "url" : {{ .Permalink }}
}
</script>
