// Global Base Styles

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

iframe {
  width: 100%;
}

.is-hidden {
  display: none !important;
}