table {
  border: 0;
  background: #f7f7f7;
  border-radius: 4px;
  margin-top: var(--space-fluid-5-7);
  margin-bottom: var(--space-fluid-5-7);
  width: 100%;
  text-align: left;
  display: block;
  overflow: auto;
  
  tbody tr {
    &:nth-of-type(odd) {
      background: #fdfdfd;
    }
  }
  
  th,
  td {
    padding: var(--space-fixed-2);
  }
  
  th {
    font-weight: 700;
    font-size: 18px;
  }
  
  td {
    font-size: 14px;
  }
}

