{{ define "main" }}

  {{ with .Params.hero }}
    {{ partial "home/hero" . }}
  {{ end }}

  {{ with .Params.features }}
    {{ partial "home/features" . }}
  {{ end }}

  {{ with .Params.values }}
    {{ partial "home/values" . }}
  {{ end }}

  {{ with .Params.templateBanner }}
    {{ partial "home/template-banner" . }}
  {{ end }}

  {{ with .Params.turboBanner }}
    {{ partial "home/turbo-banner" . }}
  {{ end }}

  {{ with .Params.services }}
    {{ partial "home/services" . }}
  {{ end }}

  {{ with .Params.support }}
    {{ partial "home/support" . }}
  {{ end }}

  {{ with .Params.backers }}
    {{ partial "home/backers" . }}
  {{ end }}

  {{/*  <div class="home-dark-section-wrapper">
    <div class="home-dark-section">
      {{ with .Params.blog }}
        {{ partial "home/blog" . }}
      {{ end }}

      {{ with .Params.community }}
        {{ partial "home/community" . }}
      {{ end }}
    </div>
  </div>  */}}

{{ end }}

{{ define "scripts" }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  {{ $featuresFilter := resources.Get "/scripts/features-filter.js" | js.Build (dict "minify" true) }}
  <script defer src="{{ $featuresFilter.RelPermalink }}"></script>
{{ end }}