.blog-list {
  &__item {
    margin-bottom: var(--space-fluid-5-7);

    h2 {
      margin-bottom: var(--space-fixed-2);
      
      a {
        text-decoration: none;
        
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
