.community-header {
  margin-bottom: var(--space-fixed-8);
}

.community-intro {
  font-size: var(--font-size-base);
  color: var(--color-gray-800);
  max-width: 48rem;
  line-height: 1.7;
  margin-top: var(--space-4);
}

.community-section {
  margin-bottom: var(--space-fixed-8);
}

.section-title {
  margin: var(--space-fluid-2-5) 0 var(--space-fluid-4-5);
}

.community-channels {
  margin-bottom: var(--space-fixed-5);
}

.community-channel {
  margin-bottom: var(--space-fixed-5);

  .channel-title {
    font-weight: 500;
    margin-bottom: var(--space-fixed-2);
  }

  .channel-description {
    margin-bottom: var(--space-fixed-4);
  }

  .channel-link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
