.docs-single {
  @include breakpoint-up(sm) {
    display: grid;
    grid-template-columns: clamp(160px, 20vw, 320px) minmax(0, 1fr);
    grid-column-gap: 1.5rem;
  }

  @include breakpoint-up(md) {
    grid-template-columns: clamp(160px, 20vw, 320px) minmax(0, 1fr) clamp(160px, 20vw, 320px);
    grid-column-gap: 2rem;
  }

  &__content {
    overflow: hidden;
  }

  &__ads {
    display: none;

    @include breakpoint-up(md) {
      display: block;
    }
  }
}
