.features-prioritizer {
  margin: var(--space-fluid-3-5) 0 var(--space-fluid-4-7);

  .lead {
    margin: 0;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-fixed-2);
    margin-top: var(--space-fixed-3);
  }

  &--home {
    @include breakpoint-up('lg') {
      text-align: center;
      
      .features-prioritizer__controls {
        justify-content: center;
      }
    }
  }
}

.features-grid {
  display: grid;
  gap: var(--space-fluid-4-7);
}
