.features-prioritizer {
  margin: var(--space-fluid-3-5) 0 var(--space-fluid-4-7);

  .lead {
    margin: 0;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-fixed-2);
    margin-top: var(--space-fixed-3);
  }
}

.features-grid {
  display: grid;
  gap: var(--space-fluid-4-7);
}
