<section class="services">
  <div class="container size-lg">
    <h2 class="services__title">{{ .title }}</h2>
    <p class="services__description">{{ .description }}</p>

    {{ with site.GetPage "/services" }}
      <div class="services__grid">
        {{ range .RegularPages }}
          <div class="services__item services__item--{{ .Params.class }}">
            <div class="services__item-layout">
              <div class="services__item-content">
                <h3 class="services__item-title">{{ .Title }}</h3>
                <p class="services__item-description">{{ .Description }}</p>
              </div>

              {{ if .Params.image }}
                <div class="services__item-image">
                  <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" loading="lazy" decoding="async" />
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}

    {{ with .button }}
      <div class="services__button">
        <a href="{{ .href }}" class="button button--primary">{{ .text }}</a>
      </div>
    {{ end }}
  </div>
</section>
