<section class="services">
  <div class="container size-lg">
    <h2 class="services__title heading-display">{{ .title }}</h2>
    <p class="services__description">{{ .description }}</p>

    {{ with site.GetPage "/services" }}
      <div class="services__grid">
        {{ range .RegularPages.ByWeight }}
          <div class="service-container">
            <div class="service service--{{ .Params.class }}">
              <div class="service__content">
                <h3 class="service__title">{{ .Title }}</h3>
                <p class="service__description">{{ .Description }}</p>
              </div>

              {{ if .Params.image }}
                <div class="service__image">
                  <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" loading="lazy" decoding="async" />
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}

    {{ with .button }}
      <div class="services__button">
        <a href="{{ .href }}" class="button button--primary">{{ .text }}</a>
      </div>
    {{ end }}
  </div>
</section>
