<section class="home-values">
  <div class="container size-lg">
    <div class="home-values__intro">
      <h2>{{ .title }}</h2>

      {{ with .description }}
        <p class="home-values__description">{{ . | markdownify }}</p>
      {{ end }}
    </div>

    <div class="home-values__grid">
      {{ range .items }}
        <div class="home-values__item">
          {{ with .icon }}
            <span class="home-values__icon" aria-hidden="true">
              {{ partial "icon" . }}
            </span>
          {{ end }}

          <h3 class="home-values__item-title">{{ .title }}</h3>
          <p class="home-values__item-description">{{ .description }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>
