{{ $search := resources.Get "/scripts/search.js" }}
{{ $header := resources.Get "/scripts/header.js" }}
{{ $docsNav := resources.Get "/scripts/docs-nav.js" }}
{{ $externalLinks := resources.Get "/scripts/external-links.js" }}

{{ $bundleItems := slice $search $header $docsNav $externalLinks }}

{{ $options := dict
  "sourcemap" "inline"
  "minify" true
}}

{{ $bundleJs := $bundleItems | resources.Concat "scripts/bundle.js" | js.Build $options }}

<link rel="preload" href="https://unpkg.com/docsearch.js@2.5.2/dist/cdn/docsearch.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://unpkg.com/docsearch.js@2.5.2/dist/cdn/docsearch.min.css"></noscript>
<script defer src="https://unpkg.com/docsearch.js@2.5.2/dist/cdn/docsearch.min.js"></script>

<script defer src="{{ $bundleJs.RelPermalink }}"></script>
