{{ $search := resources.Get "/scripts/search.js" }}
{{ $header := resources.Get "/scripts/header.js" }}
{{ $docsNav := resources.Get "/scripts/docs-nav.js" }}

{{ $bundleItems := slice $search $header $docsNav }}

{{ $options := dict
  "sourcemap" "inline"
  "minify" true
}}

{{ $bundleJs := $bundleItems | resources.Concat "scripts/bundle.js" | js.Build $options }}

<link rel="stylesheet" href="https://unpkg.com/docsearch.js@2.5.2/dist/cdn/docsearch.min.css">
<script src="https://unpkg.com/docsearch.js@2.5.2/dist/cdn/docsearch.min.js"></script>

<script defer src="{{ $bundleJs.RelPermalink }}"></script>
